.chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 289px !important;
}

.chatonline {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 400px !important;
}

.inputarea {
    width: 100%;
    height: 68px;
}

.contenidoChat {
    margin-bottom: 6%;
}